.create {
    @extend %flexCenter;

    &__content {
        width: 580px;
        height: 50px;
        background: $whiteColor;
        border-radius: 91px;
        @extend %inputBoxShadow;
    }

    &__form {
        padding: 9px 24px;
        @include flexContent(flex, space-between, center);
    }

    &__input {
        width: 400px;
        font-family: $fontMontserrat;
        @include fontStyle(normal, normal, 14px, 24px);
        letter-spacing: 0.25px;
        border: none;

        &:active {
            border-color: $blueColor;
        }
    }

    &__split {
        width: 2px;
        height: 33px;
        background-color: $ligthGrayColor;
    }

    &__button {
        font-family: $fontMontserrat;
        @include fontStyle(normal, 600, 14px, 24px);
        border: none;
        cursor: pointer;
        background-color: $whiteColor;

        &:hover {
            color: $blueColor;
        }
    }
}
