* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $ligthGrayColor;
    @extend %flexCenter;
    background: url('./assets/images/background.png') fixed no-repeat bottom right;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.indent {
    &__top {
        margin-top: $marginBig;
    }

    &__left {
        margin-left: $marginStandart;
    }
}
