@media screen and (max-width: 720px) {
    .create {
        flex-wrap: wrap;

        &__content {
            width: 300px;
        }

        &__input {
            width: 120px;
        }
    }
}

@media screen and (max-width: 599px) {
    .task {
        &__item {
            width: 300px;
        }
    }
}

@media screen and (max-width: 488px) {
    .filter {
        margin-top: $marginStandart;
    }
}
