.filter {
    padding: 15px 24px;
    background: $whiteColor;
    border-radius: 91px;
    @extend %inputBoxShadow;

    &__select {
        width: 125px;
        font-family: $fontMontserrat;
        @include fontStyle(normal, normal, 14px, 24px);
        letter-spacing: 0.25px;
        border: none;
    }
}
