.filter {
    margin-left: 10px;
    padding: 15px 24px;
    background: $whiteColor;
    border-radius: 91px;
}

.filter__select {
    width: 125px;
    font-family: $fontMontserrt;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
    border: none;
}
