.task {
    &__list {
        @extend %flexCenter;
        flex-wrap: wrap;
    }

    &__item {
        width: 550px;
        height: 94px;
        background-color: $whiteColor;
        border-radius: 24px;
        box-shadow: 0px 8px 22px rgba(51, 51, 51, 0.15);

        &:hover {
            box-shadow: 0px 8px 22px rgba(51, 51, 51, 0.25);
        }
    }

    &__item-indent {
        @include topIndent(20px);
    }

    &__content {
        padding: 23px 32px;
        @include flexContent(flex, space-between, center);
    }

    &__title {
        font-family: $fontMontserrat;
        @include fontStyle(normal, 600, 15px, 20px);
        letter-spacing: 0.25px;
    }

    &__title-done {
        text-decoration: line-through;
    }

    &__creation {
        display: flex;
        align-items: center;
    }

    &__time {
        font-family: $fontMontserrat;
        @include fontStyle(normal, 500, 11px, 13px);
        color: $grayColor;
    }

    &__time-indent {
        margin-left: 5px;
    }

    &__action {
        width: 100px;
        @include flexContent(flex, space-between, center);
    }

    &__action-done {
        justify-content: flex-end;
    }

    &__complete,
    &__remove {
        @include actionButton(48px, 48px, none, pointer, 50%);
    }

    &__complete {
        background-color: $lightGreenColor;

        &-disable {
            display: none;
        }

        &::after {
            content: url('./assets/images/complete_green.png');
        }

        &:hover {
            background-color: $greenColor;

            &::after {
                content: url('./assets/images/complete.png');
            }
        }
    }

    &__remove {
        background-color: $lightRedColor;

        &::after {
            content: url('./assets/images/remove_red.png');
        }

        &:hover {
            background-color: $redColor;

            &::after {
                content: url('./assets/images/remove.png');
            }
        }
    }

    &__icon::after {
        content: url('./assets/images/clock.png');
    }
}
