/* Colors */
$ligthGrayColor: #F7F7FA;
$ligthBlackColor: #333333;
$whiteColor: #FFFFFF;
$blueColor: #4680FF;

/* Fonts */
$fontMontserrt: 'Montserrat', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
