/* Colors */
$ligthGrayColor: #F7F7FA;
$grayColor: #AFAFBD;
$ligthBlackColor: #333333;
$whiteColor: #FFFFFF;
$blueColor: #4680FF;
$greenColor: #00D578;
$lightGreenColor: #E6FBF2;
$redColor: #F55858;
$lightRedColor: #FEEFEF;

/* Fonts */
$fontMontserrat: 'Montserrat', sans-serif;
$fontPoppins: 'Poppins', sans-serif;

/* Size */
$marginSmall: 8px;
$marginStandart: 16px;
$marginBig: 32px;
