/* Colors */
$colorLigthGray: #F7F7FA;
$colorGray: #AFAFBD;
$colorLigthBlack: #333333;
$colorWhite: #FFFFFF;
$colorBlue: #4680FF;
$colorGreen: #00D578;
$colorLightGreen: #E6FBF2;
$colorRed: #F55858;
$colorLightRed: #FEEFEF;

/* Fonts */
$fontMontserrat: 'Montserrat', sans-serif;
$fontPoppins: 'Poppins', sans-serif;

/* Size */
$marginExtraSmall: 4px;
$marginSmall: 8px;
$marginStandart: 16px;
$marginBig: 32px;
