* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-stack: 24px;

body {
    background-color: bisque;
}

header,
form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 8px;
    font-size: 32px;
    border: none;
    background: white;
}

form button {
    color: blueviolet;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: red;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo {
    margin: 8px;
    background-color: white;
    color: black;
    font-size: $font-stack;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
}

.select {
    margin: 16px;
    position: relative;
    overflow: hidden;
}

select {
    color: coral;
    width: 160px;
    cursor: pointer;
    padding: 16px;
}

.select::after {
    content: ">";
    position: absolute;
    background-color: cyan;
    top: 0;
    right: 0;
    padding: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background-color: white;
    color: cadetblue;
}
